################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReactBFF/obj
/ReactBFF/bin
/ReactBFF/.vs/ReactBFF
/.vs/ReactBFF
/ReactBFF/logs
